<div class="row justify-content-center">
  <div class="col-auto">
    <div class="card app-card">
      <div class="card-img-top d-flex justify-content-center">
        <ng-icon name="matInventory2" color="#777" size="10rem"></ng-icon>
      </div>
      <div class="card-body">
        <h6 class="card-title">Card title is a card name that is present on the page</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
