<div class="card app-card">
  <div class="card-img-top d-flex justify-content-center h-50">
    <img *ngIf="product.images && product.images.length > 0; else defaultIcon" [src]="getFirstImage()" alt="image">
    <ng-template #defaultIcon>
      <ng-icon name="matInventory2" color="#777" size="10rem"></ng-icon>
    </ng-template>
  </div>
  <div class="card-body">
    <h6 class="card-title">{{product.title}}</h6>
    <div class="rates-wrapper">
      <app-rate [rates]="getRates()"></app-rate>
      <div>
        {{product.subscribers.length}}
        <button (click)="onSubscribersClick($event)" class="btn btn-sm p-0">
          <ng-icon name="matReviews" color="#777" size="1.35rem"></ng-icon>
        </button>
      </div>
    </div>
    <h5>${{product.price | number:'1.2-2' }}</h5>
    <div class="btn-wrapper d-flex justify-content-end">
      <button (click)="onAddItemClick($event)" class="m-1 btn btn-outline-light d-flex flex-column align-items-center custom-btn-click">
        <ng-icon name="circumShoppingBasket" color="#777" size="2rem"></ng-icon>
        Add to Basket
      </button>
      <button (click)="onBuyClick($event)"
              class="m-1 btn-border btn btn-outline-light d-flex flex-column align-items-center">
        <ng-icon name="circumCreditCard2" color="#777" size="2rem"></ng-icon>
        BUY NOW
      </button>
    </div>
  </div>
</div>
