
/*.product-images {
  display: flex;
  flex-direction: row;
}*/

.img-list-item{
  max-height: 5rem;
}

.img-list{
  overflow: hidden;
  list-style-type: none;
  height: 20rem;
  padding: 0;
}

.image{
  max-width: 45rem;
  max-height: 45rem;
}
.arrow {
  width: 5rem;
  background: transparent;
  border: 1px solid #666
}

.arrow:hover {
  border: 1px solid #999
}

