
.img-list-item{
  max-height: 8rem;
  max-width: 8rem;
}

.img-list{
  overflow: hidden;
  list-style-type: none;
  height: 40rem;
  padding: 0;
}

.arrow {
  width: 8rem;
  background: transparent;
  border: none;
}

.selected-img{
  margin: auto;
}

.selected-img img{
  max-width: 40rem;
  max-height: 40rem;
}


.rates-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.btn-wrapper, button{
  color: #444
}

.btn-border{
  border: 1px solid #666;
}

