<div class="input-group align-items-center">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
          aria-expanded="false" #categoryDropdown>All
  </button>
  <ul class="dropdown-menu">
    <li *ngFor="let category of categories"><span (click)="onCategoryClick(category)" class="dropdown-item" >{{category}}</span></li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><span (click)="onCategoryClick('All')" class="dropdown-item">All</span></li>
  </ul>
  <input type="search" class="form-control" #searchInput>
  <button class="btn btn-outline-secondary">Search</button>
</div>
