<div class="card d-flex flex-row mb-3 basket-card">
  <div class="d-flex">
    <input class="basket-checkbox" type="checkbox" name="each" id="item">
  </div>
  <div class="card-img" style="max-width: 20rem">
    <img class="" [src]="product.images[0]" alt="Card image cap">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
