@import 'bootstrap/dist/css/bootstrap.min.css';

.bg-primary{
  background-color: #00C853 !important;
}

.bg-secondary{
  background-color: #00E676 !important;
}

.invalid{
  border-color: red;
}

.color-red{
  color:red;
}

.auth-form{
  width: 25rem;
  color: #333;
}


.basket-checkbox{
  margin: auto 10px auto 10px;
  align-items: center;
  width: 20px;
  height: 20px;
}
