@import 'bootstrap/dist/css/bootstrap.min.css';

.bg-primary{
  background-color: #00C853 !important;
}

.bg-secondary{
  background-color: #00E676 !important;
}

.invalid{
  border-color: red;
}

.color-red{
  color:red;
}

.auth-form{
  width: 25rem;
  color: #333;
}
