<app-auth-form-container>
  <form class="auth-form" [formGroup]="formGroup">
    <div class="d-flex justify-content-center">
      <p class="color-red" *ngIf="enrollmentError">{{enrollmentError}}</p>
    </div>
    <div class="mb-3">
      <label for="first-name" class="form-label">First Name</label>
      <input inspect formControlName="firstName" type="text" class="form-control" id="first-name">
    </div>
    <div class="mb-3">
      <label for="last-name" class="form-label">Last Name</label>
      <input inspect formControlName="lastName" type="text" class="form-control" id="last-name">
    </div>
    <div class="mb-3">
      <label for="birth-date" class="form-label">Birth date</label>
      <input inspect formControlName="birthDate" type="date" class="form-control" id="birth-date">
    </div>

    <div class="mb-3 mt-5">
      <label for="email" class="form-label">Email address</label>
      <input inspect formControlName="email" type="email" class="form-control" id="email"
             aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input inspect formControlName="password" type="password" class="form-control" id="password">
    </div>
    <div class="mb-3">
      <label for="repeat-password" class="form-label">Repeat Password</label>
      <input inspect formControlName="repeatPassword" type="password" class="form-control" id="repeat-password">
    </div>
    <button (click)="onSignUpClick($event)" [disabled]="formGroup.invalid" class="btn btn-light">Sign Up</button>
  </form>
</app-auth-form-container>
