<div class="container-fluid mt-3 ">
  <div *ngIf="products">
    <div class="d-flex">
      <input (click)="onAllCheckboxClicked($event)" class="basket-checkbox" type="checkbox" id="selectAll">
      <label for="selectAll">Select All</label>
    </div>
    <hr>
    <app-basket-card [index]="i" (checkboxChanged)="onCheckboxChanges($event)"
                     *ngFor="let product of products;let i = index" [product]="product"></app-basket-card>
    <hr>
    <div class="d-flex justify-content-between align-items-center">
      <button class="btn btn-light">Buy now</button>
      <div *ngIf="total">Total: {{ total | number:'1.2-2' }}</div>
    </div>
  </div>
</div>
